<style>
  :host {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
</style>
<div class="flex w-full h-full flex-col items-center">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="mt-72 flex flex-col items-center"
  >
    <h1 class="text-3xl text-white mb-6">Tune'up Admin</h1>
    <input
      type="text"
      class="border border-gray-300 p-2 w-4/5 rounded-sm text-gray-500"
      placeholder="Login"
      formControlName="login"
    />
    <input
      type="password"
      class="border border-gray-300 p-2 w-4/5 mt-4 rounded-sm"
      placeholder="Password"
      wire:model="password"
      formControlName="password"
    />
    <button
      class="bg-slate-800 text-white p-2 w-4/5 mt-4 rounded-sm hover:bg-slate-700"
      type="submit"
    >
      Login
    </button>
  </form>
</div>
