<div class="w-64 h-screen bg-slate-800 flex flex-col">
	<ul class="flex flex-col py-4">
	  <li *ngFor="let section of getKeys(sidebarItems)" class="text-white py-2">
		<h2 class="px-4 text-sm text-gray-400 tracking-wide">{{ section }}</h2>
		<ul class="mt-2 space-y-1">
		  <li *ngFor="let item of sidebarItems[section]" class="flex items-center text-white py-2 pl-8 pr-4 hover:bg-slate-700 rounded-md">
			<div class="flex items-center" [routerLink]="item.path">
			  <svg class="h-5 w-5 text-gray-400 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
			  </svg>
			  {{ item.label }}
			</div>
		  </li>
		</ul>
	  </li>
	</ul>
  </div>
  