<div *ngIf="!loading; else spinner" class="flex flex-col h-full">
  <ag-grid-angular
    style="height: 100%; padding-right: 1.5rem"
    [class]="themeClass"
    [rowData]="posts"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"
  >
  </ag-grid-angular>
</div>
<ng-template #spinner>
  <div *ngIf="errorMessage" class="text-white">{{ errorMessage }}</div>
  <div
    *ngIf="!errorMessage"
    class="text-white h-full flex justify-center items-center"
  >
    <ns-spinner class="" />
  </div>
</ng-template>
